<ion-tabs>
  <ion-tab [root]="UserCoursesPage" tabTitle="My Courses" tabIcon="albums"></ion-tab>
  <ion-tab [root]="AllCoursesPage" tabTitle="All Courses" tabIcon="list"></ion-tab>
  <ion-tab [root]="NoticesPage" tabTitle="Notices" tabIcon="notifications"></ion-tab>
  <ion-tab [root]="NewsfeedPage" tabTitle="News" tabIcon="stats"></ion-tab>
  <ion-tab *ngIf="showAdmin" [root]="AdminPage" [rootParams]="{'show':showAdmin}" tabTitle="Admin Tools" tabIcon="settings"></ion-tab>
  <ion-tab *ngIf="showAdmin" [root]="DegreesPage" [rootParams]="{'show':showAdmin}" tabTitle="Degrees" tabIcon="settings"></ion-tab>  
</ion-tabs>
