<!--
  Generated template for the CourseDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{course.courseID}}</ion-title>
    <ion-buttons end>
      <button *ngIf="showButton" ion-button (click)="addCourse()">
        <ion-icon name="add"></ion-icon> 
        Enroll        
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="course">
    <ion-card>
      <ion-card-header>
        Name
      </ion-card-header>
      <ion-card-content>
        {{course.name}}
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        Credits
      </ion-card-header>
      <ion-card-content>
        {{course.credits}}
      </ion-card-content>
    </ion-card>   

    <ion-card>
      <ion-card-header>
        Available
      </ion-card-header>
      <ion-card-content>
        {{course.available}}
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        Outline
      </ion-card-header>
      <ion-card-content>
        {{course.outline}}
      </ion-card-content>
    </ion-card>
    
    <ion-card *ngIf = "showDegrees">
      <ion-card-header>
        Degrees containing course
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor = "let degree of alldegrees" text-wrap>
            <ion-label>{{degree.Name}}</ion-label>
            <ion-checkbox [(ngModel)]="degree.Chosen"></ion-checkbox>
          </ion-item>
        </ion-list>

        <button ion-button (click)="save()">
          Save
        </button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
