<!--
  Generated template for the CalendarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <ion-title>{{viewTitle}}</ion-title>
      <ion-buttons *ngIf="showButtons" end>
        <button ion-button  (click)="addEvent()">
          <ion-icon name="add"></ion-icon>
          Event        
        </button>
        <button ion-button  (click)="addDepartmentEvent()">
          <ion-icon name="add"></ion-icon>
          Department Notice       
        </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  

  <ng-template #template1 let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
    <ion-item *ngFor="let event of eventSource">
      {{event.endTime|date: 'HH:mm'}}|{{event.title}}
    </ion-item>
  </ng-template>


  <ng-template #template2 let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
      <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
          <ion-item *ngFor="let event of selectedDate?.events" (click)="onEventSelected(event)">
              <span *ngIf="!event.allDay" class="monthview-eventdetail-timecolumn">
                {{event.endTime|date: 'HH:mm'}} 
              </span>
              <span *ngIf="event.allDay" class="monthview-eventdetail-timecolumn">All day</span>
              <span class="event-detail">  |  {{event.title}}</span>
              <span class="event-detail">&nbsp;&nbsp;&nbsp;| Resource: <a>{{event.resource}}</a></span>
          </ion-item>
          <ion-item *ngIf="selectedDate?.events.length==0">
              <div class="no-events-label">{{noEventsLabel}}</div>
          </ion-item>
      </ion-list>
  </ng-template>

  
  
  <ion-content padding>
    <calendar [eventSource]="eventSource"
      [calendarMode]="calendar.mode"
      [monthviewEventDetailTemplate] = "template2"
      [currentDate]="calendar.currentDate"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)"
      step="30"
      class="calendar">
    </calendar>
  </ion-content>
