<!--
  Generated template for the NewsfeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>News Feed</ion-title>
    <ion-buttons *ngIf="showButtons" end>
      <button ion-button  (click)="addNews()">
        <ion-icon name="add"></ion-icon>
        News
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="card-background-page">
  <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->
  <ion-card *ngFor = "let n of news" (click)="navigateToDetails(n.id)">
    <img width="100%" height="200" src="https://images-eu.ssl-images-amazon.com/images/I/41tRm4ogJpL._SL500_AC_SS350_.jpg"/>
    <div class="card-title">{{n.title}}</div>
    <div class="card-subtitle">New {{n.type}}</div>
    
    <ion-row>
      <ion-col center text-center *ngIf="!showButtons">
        <p>{{n.cost}}</p>
      </ion-col>

      <ion-col center text-center *ngIf="showButtons" (click)="removeNews(n)">
        Remove
        <ion-icon name="close" item-end></ion-icon>      
      </ion-col>


      <ion-col center text-center>
        {{n.displayDate}}
      </ion-col>
      <ion-col center text-center>
        <p>{{n.location}}</p>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
