<!--
  Generated template for the AdminPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <ion-title>Manage Users</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list *ngIf="showContent">
      <button *ngFor="let user of dUsers" ion-item (click)="navigateToUserDetails(user.userID)">
        {{user.email}}
      </button>  
    </ion-list>
  </ion-content>
  